*{
  box-sizing: border-box;
  color: #000000;
}
body {
  margin: 1px;
  display: grid;
  background-color: #FFFFFF;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "header header"
    "nav nav"
    "main aside"
    "footer footer";
  min-height: 100vh;
}
header {
  grid-area: header;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}
header h1 {
    color: #FFD200;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    text-shadow: 2px 2px 3px #3b3c3e;
}
header img {
  width: 200px;
  /*height: auto;
  align-self: center;
  justify-self: center;*/

}
header img:hover {
  width: 204px;
  height: auto;
}
.logo1 {
  width: 200px;
  height: auto;
}
.inscribete {
  background-color: #FFD200;
  border-radius: 5px;
  border: none;
  color: #1A1D20;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
  align-self: end;
  justify-self: center;

}
.inscribete:hover {
    background-color:#3b3c3e;
    color: #FFFFFF;
}
nav {
  grid-area: nav;
  background-color: #FFFFFF;
  padding: 10px;
  display: flex;
  justify-content:center;
}
nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}
nav a {
  width: 80%;
  margin: 10px;
  padding: 10px;
  list-style: none;
  text-decoration: none;
  background-color: #FFD200;
  justify-content: center;
  gap: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  border-radius: 5px;
  
}
nav li {
  color: #3b3c3e;;
}
nav a:hover {
  background-color:#3b3c3e;
  border-radius: 8px;
}
nav li:hover{
  color:#FFFFFF;
}
main {
  grid-area: main;
  background-color: rgb(250, 250, 136);
}
section {
  grid-area: section;
  padding: 20px;
  height: 100%;padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; 
  background-color: #F5F5F5;
}
article {
  min-height: 150px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #FFFFFF
}
article::first-letter {
    grid-column: 1 / 3;
}
article h3 {
  text-align: center;
  color: #3b3c3e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 0;
  text-shadow: 2px 1px 1px #FFD200;
  
}
article p {
  text-align: left;
  color: #3b3c3e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  
}
article img {
  width: 100%;
  display: block;
  border-radius: 10px;
}
article table{
  border: 3px  solid;
  border-collapse: collapse;
  border-color: #000000;
}
article table th td {
  border:2px solid;
  border-color: #000000;
  padding: 10px;
}
/*
table tr th td {
  border: 1px solid red;
}
.tabla2 { 
  border: 1px solid red;
}*/
aside {
    grid-area: aside;
    padding: 20px;
    background-color: #F4F5F7;
    min-height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
aside h3 {
  background-color: #FFD200;
  color: #000000;
  padding: 10px;
  margin-top: 0 0 10px 0;
}

aside p {
  color: #000000;
  font-size: 15px;
  margin: 5px 0;
}/*
aside a{
  padding: 20px;
  color:#000000;
  background-color: yellow;
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
  align-self: end;
  justify-self: end ;
}*/
.siguiente{
    padding: 15px;
    color: #000000;
    background-color: #FFD200;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    align-self: flex-start;
    margin-top: auto;
}
.volver {
    padding: 15px;
    color: #000000;
    background-color: #FFD200;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    align-self: flex-end;
    margin-top: auto;
}
.volver:hover {
  background-color:  #3b3c3e;
  color: #FFFFFF;
}
footer {
  grid-area: footer;
  padding: 20px;
  background-color:#3b3c3e;
}
footer h4 {
  justify-content: center;
  color: #FFFFFF;
  font-size: 20px;
}
footer ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
}
footer a {
  text-decoration: none;
  font-size: 18px;
  padding: 20px;
  color: #f2fdff;

}
footer a:hover {
  color:yellow;
  text-decoration: underline;
}


@media (max-width: 1280px){
  body{
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "aside"
    "footer";
  }
  aside{
    display: none;
  }
  header{
    background-color: #FFFFFF;
    text-align: center;
  }
  nav ul{
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;

  }
  footer ul{
    flex-direction: column;
    gap: 10px;
  }
}
