* {
  box-sizing: border-box;
  color: #1a0701;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  margin: 1px;
  display: grid;
  background-color: #f2fdff;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "header header"
    "nav nav"
    "main aside"
    "footer footer";
  min-height: 100vh;
}
header {
  justify-content: center;
  align-items: center;
  grid-area: header;
  display: flex;
    gap: 20px;
  padding: 20px;
  background-color: white;
}
header h1 {
  margin: 0;
  font-size: 40px;
  color: #036473;
  text-shadow: 2px 2px 3px #f2bc0d;
}
header img {
  width: 150px;
  height: auto;
  border-radius: 100%;
  transition: all 0.9s ease;
}
header img:hover {
  transform: scale(1.1);
}
nav {
  justify-content: center;
  grid-area: nav;
  padding: 5px;
  display: flex;
  background-color: #f2fdff;
}
nav ul {
  display: flex;
}
nav a {
  width: 15vw;
  margin: 8px;
  padding: 8px;
  list-style: none;
  text-decoration: none;
  background-color: #036473;
  justify-content: center;
  gap: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.9s ease;
}
nav ul a li {
  text-align: center;
  color: white;
}
nav a:hover {
  color: #fbfaf8;
  background-color: #013139;
  transform: scale(1.08);
  border-radius: 8px;
}
main {
  grid-area: main;

  background-color: #e5e4e3;
}
section {
  padding: 20px;
  height: 100%;
  grid-area: section;
  background-color: white;
  
}
article {
  min-height: 150px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #f2fdff;
}

article img {
  width: 50%;
  height: auto;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  align-self: center;
  justify-self: center;
  gap: 5px;
}
article h3 {
  display: grid;
  text-align: center;
}
article p {
  display: grid;
  text-align: center;
  align-self: center;
  justify-self: center;
  padding: 15px;
  width: 50%;
}
.cuadraditos {
  border-collapse: collapse;
  width: 50%;
  font-family: sans-serif;
}
.cuadraditos th,
.cuadraditos td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}
.cuadraditos th {
  background-color: #c3955c;
  font-weight: bold;
}
.cuadraditos td:first-child {
  text-align: center;
  font-weight: bold;
  color: #666; 
  width: 50px; 
}
aside {
  width: 100%;
  height: auto;
  grid-area: aside;
  padding: 25px;
  margin:auto;
  min-height: 100%;
  color: white;
  background-color: #c2c8ce;

  display: flex;
  flex-direction: column;
  position: relative;
}
aside a {
  text-decoration: none;
  background-color: #06021c;
  color: #ffffff;
  border-color: #f2c680;
  padding: 10px;
  
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
}
#inicio{
  display: flex;
  align-items: center;
}
aside .btn {
  width: 122px;
  gap: 5px;
  margin: auto;
}
.card { 
  display: grid;
  grid-template-columns: 2fr;
  align-self: center;
  justify-self: center;
  gap: 5px;
  padding: auto;
  margin: auto;
}
.siguiente, .volver {
  
  position: absolute;
  bottom: 10px;  
  margin-top: auto; 
}
.siguiente{
  left: 20px;
}
.volver {
  right: 10px;
  
}
.siguiente, .volver {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-align:center;
  gap: 5px;
  align-self: flex-end;
  text-decoration: none;
  background-color: #06021c;
  color: #ffffff;
  border: 2px solid #f2c680;
  padding:18px;
  font-weight: bold;
  border-radius: 10px;
}
footer {
  grid-area: footer;
  padding: 20px;
  background-color: #1c1d2e;
  justify-content: center;
  align-items: center;
}
footer h4 {
  justify-content: center;
  color: #f2fdff;
}
footer ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
}
footer a {
  text-decoration: none;

  padding: 20px;
  color: #f2fdff;
}
footer a:hover {
  color: #f2c680;
  text-decoration: underline;
}


@media (max-width: 1280px){
  body{
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "aside"
    "footer";
    font-size: 50px;
    text-align: justify;
    }


  header{
    align-items: center;
    background-color: #f2c680;
  }
  nav ul{
    width: 70vw;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  nav a {
    width: 90%;
  }
  footer ul{
    flex-direction: column;
    gap: 10px;
  }

}